<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Tor Crawler{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap-3.3.7.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/font-awesome-4.7.0.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }}">
                            {% if type == 'success' %}
                                <i class="fa fa-check"></i>
                            {% elseif type == "danger" %}
                                <i class="fa fa-exclamation-triangle"></i>
                            {% endif %}
                            {{ flash_message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            TC
                        </a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('onion_index') }}">
                                    Onions
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('resource_index') }}">
                                    URLs
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('word_index') }}">
                                    Words
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Dump
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('onion_dump', {'format': "txt", 'type': "active"}) }}">
                                            Active onions (txt)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('onion_dump', {'format': "json", 'type': "active"}) }}">
                                            Active onions (json)
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('onion_dump', {'format': "txt", 'type': "all"}) }}">
                                            All onions (txt)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('onion_dump', {'format': "json", 'type': "all"}) }}">
                                            All onions (json)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %}{% endblock %}

            <br>

            <p class="text-center">
                <a href="https://github.com/Yuzmi/tor-crawler" rel="noopener noreferrer">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
