{% extends "base.html.twig" %}

{% set route = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

{% block content %}
    <div class="container">
    	<h1 class="text-center">
	        {{ word.string }}
	    </h1>

	    <br>

		<div class="text-center">
			{{ resourceWords.totalItemCount }} result{{ resourceWords.totalItemCount > 1 ? "s" }}
		</div>

		<br>

		<div class="text-center">
		    {{ knp_pagination_render(resourceWords) }}
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed">
				{% set ths = {
					'r.url': "URL",
					'r.title': "Title",
					'rw.count': "Count"
				} %}
				<tr>
					<th></th>
					{% for key,value in ths %}
						<th>
							{{ knp_pagination_sortable(resourceWords, value, key) }}
							{% if resourceWords.isSorted(key) %}
								{% if resourceWords.direction == "asc" %}
									<i class="fa fa-caret-down"></i>
								{% elseif resourceWords.direction == "desc" %}
									<i class="fa fa-caret-up"></i>
								{% endif %}
							{% endif %}
						</th>
					{% endfor %}
				</tr>
				{% for rw in resourceWords %}
					<tr>
						<td class="text-center">
							<a class="btn btn-default btn-xs" href="{{ rw.resource.url }}" target="_blank" rel="noopener noreferrer">
								<i class="fa fa-link"></i>
							</a>
						</td>
						<td>
							<a href="{{ path('resource_show', {'id': rw.resource.id}) }}">
								{{ rw.resource.url }}
							</a>
						</td>
						<td>{{ rw.resource.title }}</td>
						<td>{{ rw.count }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<div class="text-center">
		    {{ knp_pagination_render(resourceWords) }}
		</div>
	</div>
{% endblock %}
