{% extends "base.html.twig" %}

{% set route = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

{% block content %}
	<h1 class="text-center">
		<a href="{{ path('resource_index') }}">
			Onion URLs
		</a>
	</h1>

	<br>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				{% include "@App/Resource/form.html.twig" %}
			</div>
		</div>

		<br>

		{% if resources.totalItemCount > 0 %}
			<p class="text-center">
				{{ resources.totalItemCount }} URL{{ resources.totalItemCount > 1 ? "s" }}
			</p>

			<div class="text-center">
			    {{ knp_pagination_render(resources) }}
			</div>

			{% include "@App/Resource/table_pagination.html.twig" %}

			<div class="text-center">
			    {{ knp_pagination_render(resources) }}
			</div>
		{% else %}
			<div class="alert alert-info">
				No URL found.
			</div>
		{% endif %}
	</div>
{% endblock %}
