{% extends "base.html.twig" %}

{% set route = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

{% block content %}
	<h1 class="text-center">
		<a href="{{ path('resource_index') }}">
			Onion URLs
		</a>
	</h1>

	<br>

	<div class="container">
		<div class="text-center">
			<form class="form-inline" method="get" action="{{ path(route, routeParams) }}">
				<input class="form-control" type="text" name="q" value="{{ q }}" placeholder="URL or title..." style="min-width:50%;">
				
				{% set fields = {
					'any': "Any",
					'url': "URL",
					'title': "Title"
				} %}
				<select class="form-control" name="qf">
					{% for key,value in fields %}
						<option value="{{ key }}" {{ qf == key ? "selected" }}>
							{{ value }}
						</option>
					{% endfor %}
				</select>

				<button class="btn btn-default" type="submit">Filter</button>
			</form>
		</div>

		<br>

		<div class="text-center">
			{{ resources.totalItemCount }} URL{{ resources.totalItemCount > 1 ? "s" }}
		</div>

		<br>

		{% if resources.totalItemCount > 0 %}
			<div class="text-center">
				{{ knp_pagination_render(resources) }}
			</div>

			<div class="table-responsive">
				<table class="table table-striped table-bordered table-condensed">
					{% set ths = {
						'r.url': "URL",
						'r.title': "Title",
						'r.dateCreated': "Added",
						'r.dateChecked': "Checked",
						'r.dateLastSeen': "Seen"
					} %}
					<tr>
						{% for key,value in ths %}
							<th>
								{{ knp_pagination_sortable(resources, value, key) }}
								{% if resources.isSorted(key) %}
									{% if resources.direction == "asc" %}
										<i class="fa fa-caret-down"></i>
									{% elseif resources.direction == "desc" %}
										<i class="fa fa-caret-up"></i>
									{% endif %}
								{% endif %}
							</th>
						{% endfor %}
						<th></th>
					</tr>
					{% for r in resources %}
						<tr>
							<td>
								<a href="{{ r.url }}" title="Direct link" target="_blank" rel="noopener noreferrer">
									{{ r.url }}
								</a>
							</td>
							<td>{{ r.title }}</td>
							<td title="{{ r.dateCreated|date('Y-m-d H:i') }}">
								{{ r.dateCreated|ago }}
							</td>
							<td title="{{ r.dateChecked ? r.dateChecked|date('Y-m-d H:i') }}">
								{{ r.dateChecked ? r.dateChecked|ago : "Never" }}
							</td>
							<td title="{{ r.dateLastSeen ? r.dateLastSeen|date('Y-m-d H:i') }}">
								{{ r.dateLastSeen ? r.dateLastSeen|ago : "Never" }}
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" href="{{ path("resource_show", {'id': r.id}) }}">
									<i class="fa fa-angle-right fa-2x"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>

			<div class="text-center">
				{{ knp_pagination_render(resources) }}
			</div>
		{% else %}
			<p class="alert alert-info">
				No URL found.
			</p>
		{% endif %}
	</div>
{% endblock %}
