{% extends "base.html.twig" %}

{% block content %}
	<h1 class="text-center">
		<a href="{{ path('homepage') }}">
			Tor Crawler
		</a>
	</h1>

	<br>

	<div class="container">
		{{ form_start(searchForm) }}
		<div class="form-group">
			{{ form_widget(searchForm.query, {"attr": {"class": "form-control input-lg"}}) }}
			<br>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<button class="btn btn-primary btn-lg btn-block">
						<i class="fa fa-search"></i>
						Search
					</button>
				</div>
			</div>
		</div>
		{{ form_end(searchForm) }}

		<br>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Last added
					</div>
					<table class="table table-striped">
						{% for onion in addedOnions %}
							<tr>
								<td title="{{ onion.dateCreated|date("Y-m-d H:i") }}">
									{{ onion.dateCreated|ago }}
								</td>
								<td title="{{ onion.resource ? onion.resource.title }}">
									<a href="{{ onion.url }}" target="_blank" rel="noopener noreferrer">
										{{ onion.hash|shorten(40) }}
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Last checked
					</div>
					<table class="table table-striped">
						{% for onion in checkedOnions %}
							<tr>
								<td title="{{ onion.resource ? onion.resource.dateChecked|date("Y-m-d H:i") }}">
									{{ onion.resource ? onion.resource.dateChecked|ago }}
								</td>
								<td title="{{ onion.resource ? onion.resource.title }}">
									<a href="{{ onion.url }}" target="_blank" rel="noopener noreferrer">
										{{ onion.hash|shorten(40) }}
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Popular onions
					</div>
					<ul class="list-group">
						{% for onion in popularOnions %}
							<a class="list-group-item" href="{{ onion.url }}" target="_blank" rel="noopener noreferrer">
								{{ onion.hash }}
								{% if onion.resource and onion.resource.title %}
									- <span class="text-muted">{{ onion.resource.title }}</span>
								{% endif %}
							</a>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
