{% extends "base.html.twig" %}

{% block content %}
	<h1 class="text-center">
		<a href="{{ path('homepage') }}">
			Tor Crawler
		</a>
	</h1>

	<br>

	<div class="container">
		{{ form_start(searchForm) }}
		<div class="form-group">
			{{ form_widget(searchForm.query, {"attr": {"class": "form-control input-lg"}}) }}
			<br>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<button class="btn btn-primary btn-lg btn-block">
						<i class="fa fa-search"></i>
						Search
					</button>
				</div>
			</div>
		</div>
		{{ form_end(searchForm) }}

		<br>

		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							New onions
						</div>
					</div>
					<table class="table table-striped">
						{% for onion in addedOnions %}
							<tr>
								<td title="{{ onion.dateCreated|date("Y-m-d H:i") }}">
									{{ onion.dateCreated|ago(true) }}
								</td>
								<td title="{{ onion.resource ? onion.resource.title : onion.hash }}">
									<a href="{{ path('onion_show', {'hash': onion.hash}) }}">
										{{ onion.hash|shorten(20) }}
									</a>
								</td>
								<td class="text-center hidden-sm">
									{% if not onion.resource or not onion.resource.dateChecked %}
										<i class="fa fa-question text-muted"></i>
									{% elseif onion.resource and onion.resource.dateChecked == onion.resource.dateLastSeen %}
										<i class="fa fa-check text-success"></i>
									{% else %}
										<i class="fa fa-times text-danger"></i>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							Onions checked
						</div>
					</div>
					<table class="table table-striped">
						{% for onion in checkedOnions %}
							<tr>
								<td title="{{ onion.resource ? onion.resource.dateChecked|date("Y-m-d H:i") }}">
									{{ onion.resource ? onion.resource.dateChecked|ago(true) : "~" }}
								</td>
								<td title="{{ onion.resource ? onion.resource.title : onion.hash }}">
									<a href="{{ path('onion_show', {'hash': onion.hash}) }}">
										{{ onion.hash|shorten(20) }}
									</a>
								</td>
								<td class="text-center hidden-sm">
									{% if onion.resource and onion.resource.dateChecked == onion.resource.dateLastSeen %}
										<i class="fa fa-check text-success"></i>
									{% else %}
										<i class="fa fa-times text-danger"></i>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							Valid onions
						</div>
					</div>
					<table class="table table-striped">
						{% for onion in seenOnions %}
							<tr>
								<td title="{{ onion.resource ? onion.resource.dateLastSeen|date("Y-m-d H:i") }}">
									{{ onion.resource ? onion.resource.dateLastSeen|ago(true) : "~" }}
								</td>
								<td title="{{ onion.resource ? onion.resource.title : onion.hash }}">
									<a href="{{ path('onion_show', {'hash': onion.hash}) }}">
										{{ onion.hash|shorten(20) }}
									</a>
								</td>
								<td class="text-center hidden-sm">
									<i class="fa fa-check text-success"></i>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

		<br>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					Popular onions
				</div>
			</div>
			<ul class="list-group">
				{% for popOnion in popularOnions %}
					<li class="list-group-item">
						<a href="{{ popOnion.url }}">
							{% if popOnion.onions|length > 1 %}
								{{ popOnion.onions|length }} onions
							{% else %}
								{{ popOnion.onions[0].hash }}
							{% endif %}
						</a>
						- {{ popOnion.title }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
